.product-list {
    position: relative;
}

.add-product-button {
    position: fixed;
    top: 20px;
    left: 20px;
    background-color: green;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1;
}

.product-cards {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}

.product-card {
    width: 200px; 
    height: 250px; 
}
